<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>qCaster</title>
  <link href="{{ url_for('static', filename='favicon.png') }}" rel="icon">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <div class="container mx-auto py-8">
    <div class="max-w-2xl mx-auto">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>

